@import "tailwindcss";

:root {
  --light: #fdf7fc;
  --dark: #141212;

  --accent: #e731ad;
  --accent-light: #ffa6d1;
  --brand: #ff9939;
}

@theme inline {
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --color-brand: var(--brand);
  
  --font-title: var(--font-raleway);
  --font-sans: var(--font-nunito-sans);
}

@layer base {

  body {
    background: var(--light);
    color: var(--dark);
    font-family: var(--font-nunito-sans), Arial, Helvetica, sans-serif;
  }
  
  button {
    @apply rounded-md px-4 py-2 text-sm/tight bg-brand text-light;
  }
}
